html, body{
  margin: 0;
  height: 100%;
  width:  100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.0);
  cursor:default;
}

.panel {
  margin: 0 auto;
  width: 100%;
  height: 22px;

  background: -webkit-linear-gradient(top, rgba(250,250,250,0.9) 0%,  rgba(206,206,206,0.7) 100%);
  border-top: 1px solid rgba(255,255,255,0.99);
  border-bottom: 1px solid rgba(0,0,0,0.5);

}

/*Search*/
.search { 
  padding:0px 3px 0px 8px;
  margin:0.5px 1px 0px 4px;
  width: 18px;
  height: 18px;
  float: left;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;

  color: rgb(0,0,0);
  outline: none;
  border-radius:18px; 
  -webkit-border-radius:18px; 
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: width 0.1s;

  background: rgba(100, 100, 100, 0.2);
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAb0lEQVR42p2RMQ7AIAhFWXsG1h7Gtffo6urqyJGpwyetomnwJ38BH/wgfZSaS7PABbVOqkqm3Fzx6IQTatlDb5PJi21YBy1iuNgjJIgzFXqyCcXj1Z1DXNGTiw01aP252DCCgH7Fk41h8KaAGMDxADnaOPucd/m3AAAAAElFTkSuQmCC');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;  
  -webkit-transition: width 0.1s; 
}
input.search:hover{
 width:  140px;
 background-position: center right;  
}
input.search:focus{
 width:  140px;
 background-position: center right;  
}
::-webkit-input-placeholder {
  color: rgba(0,0,0,0.9);
}

/*Applications*/
.application{
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    
  -webkit-border-radius:4px; 
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin:0.5px 1px 0px 1px ;
  padding: 0px 0px 0px 18px;
    
  height: 18px;
  line-height:18px;
  width: 140px;
  float: left;
    
  background: rgba(100, 100, 100, 0.2);
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position:left center;
}
.active{
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.16);
  box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.16);
  border: 1px solid rgba(0, 0, 0, 0.9);
}

/*Trays*/
.clock{
  float: right;
  text-align: right;
  font-family: 'Droid Sans', sans-serif;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
  font-size: 16px;
  margin-right: 3px;
  line-height:22px;
  height:22px;
}

.systray{
  float: right;
  text-align: right;
  padding-right: 4px;
  font-size: 16px;
  margin-right: 3px;
  line-height:22px;
  height:22px;
}

.apptray{
  float: right;
  text-align: right;
  padding-right: 0px;
  font-size: 16px;
  margin-right: 3px;
  line-height:22px;
  height:22px;
}